.bg {
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  
background-image: radial-gradient(circle at 30% 86%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 55% 100%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 40% 75%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 7% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 69% 76%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 2% 35%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 14% 48%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 28% 87%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 65% 14%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 51% 36%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 6% 93%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(23, 233, 173),rgb(29, 24, 208));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form_signin {
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
	margin-top: 200px;

}

h1 {
  @include glassmorphism();
  margin-top: 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
  color:#fff;
  padding:15px;
  text-align:center;
}

form {
  padding:15px;
}


.form-control:focus {
  border-color:#ced4da;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.form-control {
  background:rgba(255,255,255,0.9);
  height: 30px;
  margin: 3px;
  width: 200px;
  font-size: 20px;
}

.form-floating {
  &:focus-within {
    z-index: 2;
  }
  display: flex;
  flex-direction: column;
  border: 2px solid blue;

}

.btn{
  background-color: gray;
  height: 30px;
  width: 150px;
  align-self: center;
  margin-top: 5px;
  font-size: 20px;
}

.welcome{
  margin-top: 300px;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(250, 250, 250)
}

.homecontainer {
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.container div > p span {
  color: red;
}

p {
  position: relative;
  top: 20px;
}

p a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  text-align: center;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgb(229, 36, 190);
}

.space{
  margin-top: 20px;
}

.logout{
  margin-top: 20px;
  background-color: rgb(192, 21, 21);
  height: 30px;
  width: 100px;
}

.logout:hover{
  background-color: rgb(13, 181, 237);
}

.sv{
  /* text-align: center; */
  background-color: rgb(32, 198, 32);
}

.income-container{
  background: white;
}

.dashboard{
  position: absolute;
  top: 4;
  right: 0;
}

.user-balance{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.report-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-gap: 20px; /* Adjust the gap as needed */
}

.report-item {
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px; /* Set the desired width */
  height: 400px; /* Set the desired height */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.main-report{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.income-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

